{% extends 'base.html' %}
{% block content %}
    <h1>UPDATE </h1>
        <form method="POST" enctype="multipart/form-data" class="form form-control" style="background-color: #E22F89;">
        {% csrf_token %}
        <div class="row" style="margin-left:300px">
            <div class="form-field font-monospace" style="width: 100px">
                <label>ชื่อทีม</label>{{ form.nameTeam }}
            </div>
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">รูปโลโก้ทีม</label>{{ form.logo }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นคนที่1)</label>{{ form.name1 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player1 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email1 }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นคนที่2)</label>{{ form.name2 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player2 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email2 }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นคนที่3)</label>{{ form.name3 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player3 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email3 }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นคนที่4)</label>{{ form.name4 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player4 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email4 }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นคนที่5)</label>{{ form.name5 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player5 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email5 }}
            </div>
        </div>
        <div class="row font-monospace" style="margin-left:300px">
            <div class="form-field" style="width: 250px">
                <label>ชื่อ-สกุล(ผู้เล่นสำรอง)</label>{{ form.name6 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.player6 }}
            </div>
            <div class="form-field" style="width: 300px">
                <label>ชื่อในเกม</label>{{ form.email6 }}
            </div>
        </div>
        <br>
        <p class="text-center">
            <button type="button" class="btn btn-secondary" onclick="history.back()"> กลับ
            </button>
            <button type="submit" class="btn btn-success">บันทึก
            </button>
        </p>
    </form>
{% endblock %}