{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="text-dark">ประเภทอายุการแข่งขัน</h3>
    <form style=" width: 80%; margin-left: 10%; ">
    <table class="table table-bordered border-white text-center table-dark table-hover">
        <tr class="bg-white text-white text-center">
            <th class="col col-3">ชื่อประเภท </th>
            <th class="col col-5">รายละเอียด </th>
            <th class="col col-5">จัดการ</th>
        </tr>
    {% for ageCategory in age %}
        <tr class="text-center">
            <td class="text-center">{{ ageCategory.name }}</td>
            <td>{{ ageCategory.desc }}</td>
            <td class="text-lg-center">
                <a href="{% url 'newAgeCategory' %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i></a>
                <a href="{% url 'updateAgeCategory'  ageCategory.id%}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                <a href="{% url 'deleteAgeCategory' ageCategory.id%}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </form>
    <br><br><br>
{% endblock %}