{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col">
                <!--บล็อกทีม1-4-->
                <div class="round r-of-4">

                    <!--ทีม1และ2-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/Grypciocraft_Esportslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=1">GC </a>
                            <div class="score">
                                2
                            </div>
                        </div>
                        <div class="player bot loss">
                            <img src="logo_team/Maroon_Bellslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=4">MB</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                    </div>
                    <!--ทีม3และ4-->
                    <div class="bracket-game cont">
                        <div class="player top loss">
                            <img src="logo_team/Internaziomalelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=3">INT</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/NRAX_Esportslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=5">NRX</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                    </div>

                </div>

                <!--เส้นสายA and B-->
                <div class="connectors r-of-2">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>

                <!--ทีมสายA and B-->
                <div class="round r-of-2">
                    <div class="bracket-game">
                        <div class="player top loss">
                            <img src="logo_team/Grypciocraft_Esportslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=1">GC </a>
                            <div class="score">
                                1
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/Internaziomalelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=3">INT</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!--เส้นสายA,B,C,D-->
                <div class="connectors r-of-3">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="col">
                <!--บล็อกทีม1-8-->
                <div class="round r-of-3">
                    <!--ทีมA,B,C,D-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/Internaziomalelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=3">INT</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                        <div class="player bot loss">
                            <img src="logo_team/Method2Madnesslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=7">M2</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--แถว-->


        <div class="row">
            <div class="col">
                <!--บล็อกทีม5-8-->
                <div class="round r-of-4">
                    <!--ทีม5และ6-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/Et_ceteralogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=6">ETC</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                        <div class="player bot loss">
                            <img src="logo_team/Lodis_by_Illuminarlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=8">LDS</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                    <!--ทีม7และ8-->
                    <div class="bracket-game cont">
                        <div class="player top loss">
                            <img src="logo_team/GR1NDlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=2">GR1</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/Method2Madnesslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=7">M2</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                </div>

                <!--เส้นสายC and D-->
                <div class="connectors r-of-2">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>

                <!--ทีมสายC and D-->
                <div class="round r-of-2">
                    <div class="bracket-game">
                        <div class="player top loss">
                            <img src="logo_team/Lodis_by_Illuminarlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=8">LDS</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/Method2Madnesslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=7">M2</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!--เส้นชิงchampion-->
                <div class="connectors r-of-6">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!--แถว-->


        <div class="row">
            <div class="col">
                <!--ชิงchampion-->
                <div class="round r-of-6">
                    <div class="bracket-game">
                        <div class="player top loss">
                            <img src="logo_team/Internaziomalelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=3">INT</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot win">
                            Team ?
                            <div class="score">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--แถว-->

        <div class="row">
            <div class="col">
                <!--บล็อกทีม9-12-->
                <div class="round r-of-4">
                    <!--ทีม9และ10-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/Piratesportslogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=9">ARR</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                        <div class="player bot loss">
                            <img src="logo_team/Black_Star_Gaminglogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=10">BSG</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                    <!--ทีม11และ12-->
                    <div class="bracket-game cont">
                        <div class="player top loss">
                            <img src="logo_team/Team_Spiritlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=11">TS</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/Vega_Squadronlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=12">VS</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                </div>

                <!--เส้นสายE and F-->
                <div class="connectors r-of-2">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>

                <!--ทีมสายE and F-->
                <div class="round r-of-2">
                    <div class="bracket-game">
                        <div class="player top loss">
                            <img src="logo_team/Black_Star_Gaminglogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=10">BSG</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                        <div class="player bot win">
                            <img src="logo_team/Vega_Squadronlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=12">VS</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!--เส้นสายE,F,G,H-->
                <div class="connectors r-of-3">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="col">
                <!--บล็อกทีม9-16-->
                <div class="round r-of-3">
                    <!--ทีมE,F,G,H-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/Black_Star_Gaminglogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=10">BSG</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot loss">
                            Team ?
                            <div class="score">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--แถว-->

        <div class="row">
            <div class="col">
                <!--บล็อกทีม13-16-->
                <div class="round r-of-4">
                    <!--ทีม13และ14-->
                    <div class="bracket-game">
                        <div class="player top win">
                            <img src="logo_team/CTRL_PLAYlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=15">CP</a>
                            <div class="score">
                                1
                            </div>
                        </div>
                        <div class="player bot loss">
                            <img src="logo_team/Unicorns_of_Lovelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=13">UFL</a>
                            <div class="score">
                                2
                            </div>
                        </div>
                    </div>
                    <!--ทีม15และ16-->
                    <div class="bracket-game cont">
                        <div class="player top loss">
                            <img src="logo_team/CrowCrowdlogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=14">CC</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot win">
                            Team H2
                            <div class="score">
                                0
                            </div>
                        </div>
                    </div>
                </div>

                <!--เส้นสายG and H-->
                <div class="connectors r-of-2">
                    <div class="top-line"></div>
                    <div class="clear"></div>
                    <div class="bottom-line"></div>
                    <div class="clear"></div>
                    <div class="vert-line"></div>
                    <div class="clear"></div>
                    <div class="next-line"></div>
                    <div class="clear"></div>
                </div>

                <!--ทีมสายG and H-->
                <div class="round r-of-2">
                    <div class="bracket-game">
                        <div class="player top loss">
                            <img src="logo_team/Unicorns_of_Lovelogo_std.png"><a
                                href="http://localhost/back_d/team_2.php?id=13">UFL</a>
                            <div class="score">
                                0
                            </div>
                        </div>
                        <div class="player bot win">
                            Team H
                            <div class="score">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--แถว-->

    </div>
{% endblock %}