{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<div class="row">
    <div class="col-10">
        <ul class="nav justify-content-start rounded-5 ">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'base' %}" style="color: #ffffff"><i class="fas fa-home"></i><b> หน้าหลัก</b></a>
            </li>
            <li class="nav-item">
{#                <a class="nav-link" href="{% url 'delRegister' %}" style="color: #ffffff"><i class="far fa-registered"></i><b> รายวิชาที่ลงทะเบียน</b></a>#}
            </li>


            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: #ffffff"><b>แอดมิน</b></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'raceType' %}">ประเภทการแข่งขัน</a></li>
                <li><a class="dropdown-item" href="{% url 'season' %}">ฤดูกาลแข่งขัน</a></li>
                <li><a class="dropdown-item" href="{% url 'director' %}">กรรมการ</a></li>
                <li><a class="dropdown-item" href="{% url 'ageCategory' %}">ประเภทอายุ</a></li>
                <li><a class="dropdown-item" href="{% url 'team' %}">ตารางทีมเข้าร่วมการแข่งขัน</a></li>
            </ul>
             <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: #ffffff"><b>ผู้ใช้</b></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'createTeam' %}">สร้างทีมแข่งขัน</a></li>
                <li><a class="dropdown-item" href="{% url 'team_table' %}">ตารางคะแนนแข่งขัน</a></li>
                 <li><a class="dropdown-item" href="{% url 'teamNew' %}">ตารางทีมเข้าร่วมการแข่งขัน</a></li>
            </ul>
        </ul>
    </div>

    <div class="col-2">
        <div class="text-center te">
{#            <a href="{% url 'userLogin' %}" class="btn rounded-3" style="background-color: #bfd1ec">#}
        {% firstof request.user.get_username request.user.username %}

            <i class="fas fa-user"></i><b><a href="{% url 'signin' %}" class="text-white">Login</a> </b>

            <a href="{% url 'userlogout' %}" class="text-white">Logout</a>
            </a>
        </div>
    </div>
</div>