{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-dark">ประเภทการแข่งขัน</h1>
    <form style=" width: 80%; margin-left: 10%; ">
    <table class="table table-bordered border-white text-center table-dark table-hover">
        <tr class="bg-white text-white text-center">
            <th class="col col-3">ชื่อประเภท </th>
            <th class="col col-5">เพศ </th>
            <th class="col col-5">จัดการ</th>
        </tr>
    {% for typelist in raceType %}
        <tr class="text-center">
            <td class="text-center">{{ typelist.nameType }}</td>
            <td>{{ typelist.gender }}</td>
            <td class="text-lg-center">
                <a href="{% url 'newRaceType' %}" class="btn btn-sm btn-primary"> <i class="fa fa-plus"></i></a>
                <a href="{% url 'updateRaceType'  typelist.id%}" class="btn btn-secondary"> <i class="fa fa-tools"> </i> </a>
                <a href="{% url 'deleteRaceType' typelist.id%}" class="btn btn-danger"> <i class="fa fa-trash"> </i> </a>
            </td>
        </tr>
    {% endfor %}
    </table>
    </form>
    <br><br><br>
{% endblock %}