{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Login</h1>
    <form method="POST" enctype="multipart/form-data" class="form form-control" style="background-color: #E22F89;">
        {% csrf_token %}
        <br>
        <div class="row" style="margin-left:450px">
            <div class="form-field font-monospace" style="width: 300px">
                <label>User</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">Password</label>
                <input type="password" name="password" required>
            </div>
        </div>
        <br>
        <p class="text-center">
            <button class="btn btn-primary" type="submit">Login</button>
            <a href="{% url 'singup' %}" class="btn btn-primary">SIGNUP</a>
        </p>
    </form>

{% endblock %}