{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>ลงทะเบียนเข้าแข่งขัน</h1>
    <form method="POST" enctype="multipart/form-data" class="form form-control" style="background-color: #E22F89;">
        {% csrf_token %}
        <br>
        <div class="row" style="margin-left:450px">
            <div class="form-field font-monospace" style="width: 300px">
                <label>ชื่อ</label>
                <input type="text" name="fname" required>
            </div>
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">นามสกุล</label>
                <input type="text" name="lname" required>
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:450px">
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">ยูสเซอร์</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">อีเมล</label>
                <input type="email" name="email" required>
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:450px">
            <div class="form-field" style="width: 300px">
                <label class="font-monospace">พาสเวริด์</label>
                <input type="password" name="password" required>
            </div>
            <div class="form-field" style="width: 400px">
                <label class="font-monospace">คอนเฟิร์มพาสเวริด์</label>
                <input type="password" name="confirmpassword" required>
            </div>
        </div>
        <br>
        <p class="text-center">
            <button class="btn btn-primary" type="submit">ลงทะเบียน</button>
        </p>
    </form>

{% endblock %}