{% extends 'base.html' %}
{% block content %}
    <h4 class="text-center">ตารางทีมเข้าร่วมการแข่งขัน</h4> <br>
    <form style=" width: 80%; margin-left: 10%; ">
    <table class="table table-bordered border-white text-center table-dark table-hover">
        <thead>
        <tr>
            <th scope="col" >ลำดับ</th>
            <th scope="col">ชื่อทีม</th>
            <th scope="col">ผู้ดูแลทีม</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teamList1 %}
        <tr class="text-center">
            <td class="text-center ">1</td>
            <td><img src="{{ team.logo }}">{{ team.nameTeam }}</td>
            <td>{{ team.name1 }}</td>
        </tr>


    {% endfor %}
        </tbody>
    </table>
    </form>
{% endblock %}
